.header {
  width: 100vw;
  padding: 1rem;
  background-color: black;
  display: flex;
  align-content: center;
  -webkit-box-shadow: 2px 11px 9px -3px rgba(0,0,0,0.36);
  -moz-box-shadow: 2px 11px 9px -3px rgba(0,0,0,0.36);
  box-shadow: 2px 11px 9px -3px rgba(0,0,0,0.36);
}
.logo {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}
.nav {
  width: 100%;
  display: flex;
  align-content: center;
}
.navigationLinks {
  font-size: 2.4rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  width: 100%;
  color: #fff;
}
.navigationItem {
  margin: 1rem;
  list-style: none;
}
