.vertical-nav-container {
  height: 100vh;
}
.vertical-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.vertical-nav-icon {
  height: 5rem;
  width: 5rem;
  margin: 4rem 0;
}
