.main-container {
  display: flex;
}
.dashboard-container {
  padding: 3rem 5rem;
}
.dashboard-content{
  display: flex;
}
.charts-container{
  /*display: grid;*/
  /*grid-template-rows: 1fr 1fr;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  /*justify-content: space-evenly;*/
  display: flex;
  flex-wrap: wrap;
}