.card-container{
    padding: 0 2rem;
}
.card-item{
    display: flex;
    padding: 1rem;
    background: #FBFBFB;
    border-radius: 5px;
    margin: 1rem;
}
.card-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    margin-left: 2rem;
}