.score-container{
    position: relative;
    background: #FBFBFB;
    border-radius: 5px;
    width: 31.5rem;
    height: 31.5rem;
    padding: 1rem;
    margin: 1rem;
}
.score-title{
    font-size: 1.5rem;
    line-height: 24px;
    padding: 2rem 0 0 2rem;
    color: #282D30;
}
.score-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #74798c;
    border-radius: 50%;

}
.score-value{
    color: #282D30;
    font-weight: 700;
    font-size: 2.6rem;
}