.radar-chart-container {
    background: #282D30;
    border-radius: 5px;
    width: 23rem;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
.radar-chart{
    position: relative;
    margin: 1rem;
}